body h3 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
 
}
.text-primary {
color: #FD6E0A;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width:80vw ;
  margin: 0 auto;

}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul{
  display: flex  ;
  align-items: center;


}


.section-title{
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.sec-des {
  color: #757575;
 text-align: center;
  font-size: 18px;
}
nav li{
list-style: none;
margin-right: 50px;
}
nav a {
text-decoration: none;
color: #474747;
white-space:nowrap;
}
.btn {
  white-space:nowrap;
  border-radius: 4px;
  border: 0px;
  font-size: 15px;
  color: white;
  font-weight: 700;
  padding: 15px 20px;
  background-color: #FD6E0A;
  transition: all 0.2s ease-in-out;
  cursor: pointer;



}
.btn:active {
  transform: scale(0.8);

}
.hdr {
  background-color: #FFF8F3;
}
.banner  {
  /* padding: 30px 30px 30px 150px; */
  display: flex;
  align-items: center;
  max-width: 80vw;
  width: 100%;
  margin: 0px auto;
  
}
.banner .pic {
  
  height: auto;
  max-height: 60vh;
}
.banner-wellcom {
  font-size: 35px;
  color: #474747;
  margin-bottom: 0;
}
.banner-title{
font-size: 75px;
font-weight: 700;
color: #474747;
margin-bottom: 20px;
}

.banner-contant {
  max-width: 500;
}


.about {
  padding: 130px;
  border-radius: 10px;
  background: #FFF8F3;
  margin: 130px 0;
}

main {
  max-width: 1140px;
  margin: 0 auto;

}
main section {
  margin: 130px;
}
.about-info-containar {
  display: flex;
  justify-content: space-around;

}
.about-info {
  text-align: center;
}
#wid {
  padding: 30px 150px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.07);
}
.skill-des {
  color: #757575;

}
.rct {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-container {
  display: flex;
  gap: 50px;
}
.rit{
  margin-bottom: 20px;
  margin-top: 0px;

}
.rid , .rit {
  color: #757575;
}
.rii {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.resume-container hr {
  margin: 10px;
}
  
.dnld-cv {
  text-align: center;
  margin-top: 50px;
}

















































