body h3 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
 
}
.text-primary {
color: #FD6E0A;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 200px ;

}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul{
  display: flex  ;
  align-items: center;


}
nav li{
list-style: none;
margin-right: 50px;
}
nav a {
text-decoration: none;
color: #474747;
white-space:nowrap;
}
.btn {
  white-space:nowrap;
  border-radius: 4px;
  border: 0px;
  font-size: 15px;
  color: white;
  font-weight: 700;
  padding: 15px 20px;
  background-color: #FD6E0A;

}
.hdr {
  background-color: #FFF8F3;
}
.banner  {
  padding: 30px 30px 30px 150px;
  display: flex;
  
}
.banner .pic {
  width: 200px;
}

























































